<!doctype html>
<html lang="pl">
{% load static %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Odrobione.pl</title>
    <link rel="icon" href="{% static 'forum/logo.png' %}">
</head>

<body>


    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a href="{% url 'create' %}" class="btn btn-primary mx-3">Zadaj pytanie</a>
                </li>
                <li class="nav-item">

                    <a href="{% url 'latest' %}" class="btn btn-primary mr-3">Najnowsze pytania</a>
                </li>
                <li class="nav-item">
                    <div class="dropdown mr-3">
                        <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Przedmioty
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'disSubject' 'inf' %}">Informatyka</a>
                            <a class="dropdown-item" href="{% url 'disSubject' 'mat' %}">Matematyka</a>
                            <a class="dropdown-item" href="{% url 'disSubject' 'fiz' %}">Fizyka</a>
                            <a class="dropdown-item" href="{% url 'disSubject' 'bio' %}">Biologia</a>
                            <a class="dropdown-item" href="{% url 'disSubject' 'che' %}">Chemia</a>
                            <a class="dropdown-item" href="{% url 'disSubject' 'nmc' %}">Język Niemiecki</a>
                            <a class="dropdown-item" href="{% url 'disSubject' 'pol' %}">Język Polski</a>
                            <a class="dropdown-item" href="{% url 'disSubject' 'ang' %}">Język Angielski</a>
                            <a class="dropdown-item" href="{% url 'disSubject' 'geo' %}">Geografia</a>
                            <a class="dropdown-item" href="{% url 'disSubject' 'his' %}">Historia</a>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto" href="{% url 'home' %}"><img class="img-responsive mr-2"
                    src="{% static 'forum/logo.png' %}" height="30px" width="30px">Odrobione</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <form class="form-inline" method="POST" action="{% url 'search' %}">
                        {% csrf_token %}
                        <input class="form-control mr-sm-2" name="q" type="search" placeholder="Szukaj pytań" aria-label="Search">
                        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Szukaj</button>
                    </form>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <div class="btn-group mx-3 ">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Witaj {{user}}
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="{% url 'my' %}" class="dropdown-item" type="button">Moje pytania</a>

                            <form action="{% url 'accounts:logoutuser' %}" method="POST">
                                {% csrf_token %}
                                <button class="dropdown-item" type="submit">Log Out</button>
                            </form>
                        </div>
                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="{% url 'accounts:sign' %}" class="btn btn-primary ml-3">Załóż konto</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'accounts:log' %}" class="btn btn-primary mx-3">Zaloguj się</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    {% block content %}{% endblock content %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>