{% extends 'forum/base.html' %}
{% block content %}
<br>
<br>
<div class="container text-center">
    <h1>Odrobione - tutaj nie ma trudnych pytań.</h1>
    <p>Odrobione to <b>platforma stworzona dla uczniów.</b> Masz trudności z<br>
        pracą domową lub zwyczajnie nie chce ci się jej robić? <br>
        Spróbuj znaleźć pytanie które Cię nurtuje lub zadaj je sam!<br>
        <b>Nasi użytkownicy odpowiadają nawet w ciągu kilku minut.</b><br>
        Dwa kliknięcia i odrobione :)<br>
    </p>
</div>



{% endblock content %}