{% extends 'forum/base.html' %}
{% block content %}


<h1>Najnowsze pytania</h1>


{% for question in questions %}
<a href="{% url 'detail' question.id %}">
    <h2>{{question.title}}</h2>
</a>

<p>{{question.createDate}}</p>
<p>{{question.desc}}</p>

{% if question.image %}
<img src="{{question.image.url}}">
{% endif %}

{{question.total_likes}}

<form action="{% url 'like' question.id %}" method="POST">
    {% csrf_token %}

    {% if question.is_liked %}
    <button type="submit">Dislike</button>

    {% else %}
    <button type="submit">Like</button>
    {% endif %}
</form>

{% endfor %}


{% endblock content %}