{% extends 'forum/base.html' %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6">
        <br>
        <br> 
        {% for question in questions %}

        <div class="jumbotron py-3" style="height: fit-content; width: 800px;">
            <div class="row">
                <div class="col text-left">
                    <p class="lead">{{question.display_subject}} | {{question.display_time}}</p>
                </div>
                <div class="col text-right mr-3">
                    <p class="lead">Zapytał/a: {{question.user}}</p>
                </div>
            </div>


            <h2 class="display">{{question.title}}</h2>

            <p class="lead">{{question.desc|truncatechars:100}}</p>
            <hr class="my-2">

            <div class="row mt-3">
                <div class="col content-left">
                    <div class="row">
                        <form action="{% url 'like' question.id %}" method="POST">
                            {% csrf_token %}

                            {% if question.is_liked %}
                            <button type="submit" class="btn btn-primary ml-3">Podbij</button>

                            {% else %}
                            <button type="submit" class="btn btn-outline-primary ml-3">Podbij</button>
                            {% endif %}
                        </form>
                        <a class="btn btn-light disabled ml-2" style="color: black;" href="#"
                            role="button">{{question.total_likes}}</a>
                    </div>
                </div>
                <div class="row">
                    <a class="btn btn-light mr-2" href="{% url 'detail' question.id %}" role="button">Zobacz
                        odpowiedzi</a>
                        <form action="{% url 'createAnswer' question.id %}">
                            {% csrf_token %}
                            <button class="btn btn-light mr-4" type="submit">Odpowiedz</button>
                        </form>
                </div>
            </div>


        </div>

        {% endfor %}
    </div>
</div>

{% endblock content %}